.bsc-input * {
  display: block;
  margin-bottom: 10px;
}

.bsc-input label {
  margin-bottom: 6px;
  font-size: 10pt;
}

.bsc-input input {
  border: 1px solid var(--gray);
  padding: 10px 15px;
  width: 100%;
}

.input-container {
  display: flex;
}

.input-icon {
  background-color: var(--light-gray);
  /* width: 10%; */
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  color: var(--dark-blue);
}

.input-icon svg {
  margin: unset;
}
