.bsc-asset > h1 {
  margin: unset;
  margin-bottom: 20px;
}

.bsc-asset {
  margin: 50px 10%;
}

.bsc-asset > section:not(.bsc-table) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}

.bsc-asset section > button {
  align-self: center;
  justify-self: end;
  border: 1px solid var(--gray);
  padding: 10px 20px;
  background-color: var(--light);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
