.account-container {
  display: flex;
}

.account-container > .account-content {
  width: 100%;
}

.account-content > div {
  margin: 50px 10%;
}

.account-bar h4 {
  margin: 0;
  color: var(--light-gray);
}

.account-profile {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.badge {
  display: inline-block;
  font-size: 8pt;
  font-weight: normal;
  padding: 4px 10px;
  border-radius: 100px;
  border: 1px solid var(--light-gray);
}

.account-content > div > h1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
