.registration-trigger {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 10pt;
  align-items: flex-end;
}

.registration-trigger a {
  text-decoration: none;
  color: var(--mid-blue);
}
